<main class="faq">
    <div class="container-fluid about_us">
        <div class="row">
            <div class="col-12">
                <div class="about_us d-flex justify-content-center align-items-center">
                    <p class="title2">
                        FAQ
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_why d-flex align-items-end justify-content-center">
                    <h2 class="title">
                        Frequently Asked Questions
                    </h2>
                </div>
            </div>
        </div>
        <div class="container inner_faq">
            <div class="row">
                <div class="col-12">
                        <div class="when-title  d-flex justify-content-start align-items-center">
                                <div class="title_faq">
                                    <p class="title_faq">1. What happens once I place an order for an essay or paper?</p>
                                </div>
                            </div>
                       
                    </div>
                    <div class="about_list_section d-flex justify-content-center align-items-start">
                        <p class="main_inner_text">
                                You will set up a personal account by your email and a selected password.  You may use this account
                                 to monitor the progress of your order. You may also upload additional instructions, samples of your 
                                 own writing for your writer to review, and use the links to communicate with your writer or with our 
                                 customer support team.  Once you see all of the options on your account, you will see how easy it is to use.
                        </p>
                    </div>
                </div>
            </div>
</main>